body{
    font-family: 'Ubuntu';
    width:50%;
    position:relative;
    left:25%;
}
  table,th,td,tr{
border:1px solid black;
border-collapse: collapse;
padding: 10px;
  }
  th{
    background-color:blanchedalmond
  }
  .a{
    background-color: rgb(55, 233, 55);
  }
  .b{
    background-color: rgb(236, 40, 40);
  }
  .c{
    background-color: rgb(221, 212, 212);
  }
  .imag{
    padding: 20px;
  }
  #ima{
    border-radius: 100%;
    float:left;
  }
  #spec{
    width:50%;
    position:relative;
    left:15%;
  }